.env*
__pycache__/
.pytest_cache/
.vscode/
**/.DS_Store
*.pyc
*.pem
*.key
*.p12
*.pfx
*.sqlite3
**/.log
/logs/
/media/
/static/
/backups/
/backups/**
backup_*.sql
backup_*.sql.gz
.aws/
aws-credentials.env
pip-wheel-metadata/