{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Welcome to Our Hotel!</h2>
    <p class="text-center">We’re glad to have you. You can manage your booking below.</p>

    <div class="text-center my-4 mb-3">
        <a href="{% url 'booking_detail_request' %}" class="btn btn-primary">View Your Reservation</a>
    </div>

    <hr class="my-4">

    <div class="text-center mb-4">
        <p>Are you a registered VIP guest?</p>
        <a href="{% url 'guest_login' %}" class="btn btn-outline-secondary">Login to Your Account</a>
    </div>

    <h4 class="mt-5">Contact Information for Our Branches</h4>
    <ul class="list-group">
        {% for branch in branches %}
        <br>
        <li class="list-group-item">
            <strong>{{ branch.name }}</strong><br>
            Phone: {{ branch.phone_number }}<br>
            Email: {{ branch.email }}<br>
            Website: {{ branch.website }}<br>
            Address: {{ branch.address }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}